.pomodoro-timer-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .pomodoro-timer-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .timer {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .timer-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .timer-button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .timer-button:last-child {
    margin-right: 0;
  }
  
  .timer-button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }